.wrapper {
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.item__preview {
    position: relative;
    margin: 0 15px;

    &:hover {
        cursor: pointer;
    }
}

.item__order {
    position: absolute;
    right: 0;
    bottom: -24px;
    color: var(--white-color);
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 48px;
}
